<!DOCTYPE html>
<html>

<head>
    <title>SpeakUp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet " id="styles " type="text/css " href="./css/style.css ">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Raleway|Inconsolata|Saira " rel="stylesheet ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <style>
        main {
            flex: 1 0 auto;
        }
        
        .input-field input[type=date]:focus+label,
        .input-field input[type=text]:focus+label,
        .input-field input[type=email]:focus+label,
        .input-field input[type=password]:focus+label {
            color: #e91e63;
        }
        
        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #e91e63;
            box-shadow: none;
        }
    </style> -->
</head>

<body>
    {{{ body }}}


<script>
    $(document).ready(function() {
        $(".modal").modal();
    });
</script>
</body>

</html>