<img src="img/paper.jpg" alt="stage">
		<nav>
			<div class="nav-wrapper black" style="opacity:0.5;">
				<a href="/" class="brand-logo"><i class="material-icons">lightbulb_outline</i>SpeakUp</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/" class="about-links">home</a></li>
					<li><a href="chatroom2" class="about-links">chat room</a></li>
					<li><a href="" class="about-links">login</a></li>
				</ul>
			</div>
		</nav>
		
		<!-- <ABOUT US> -->
		<div id="container" style="position:relative;line-height:25px;">
			<p><a href="" class="about-links">
				BEHIND <br> THE <br> SCENE
			</a></p>
		</div>
		<!-- <transition> -->
		<div class="row" style="position: relative;margin-top: 2%;opacity: 0.9;">
			<div class="col s3">
				<a href="" class="about-links"><h1 class="z-depth-2" style="color:white;font-size: 65%;text-align: center;margin-top:20%;"><img class="circle" src="img/catGif.gif" style="position: relative; width: 75%;">DONNY <br> GABAI <i class="material-icons">account_circle</i></h1></a>
			</div>
			<div class="col s3">
				<a href="" class="about-links"><h1 class="z-depth-2" style="color:white;font-size: 65%;text-align: center;margin-top: 20%;"><img class="circle" src="img/catGif.gif" style="position: relative; width: 75%;">KAMOLTIP <br> CARDENAS <i class="material-icons">account_circle</i></h1></a>
			</div>
			<div class="col s3">
				<a href="" class="about-links"><h1 class="z-depth-2" style="color:white;font-size: 65%;text-align: center;margin-top: 20%;"><img class="circle" src="img/catGif.gif" style="position: relative; width: 75%;"> <br>MIKE <br> HASHIMOTO <i class="material-icons">account_circle</i></h1></a>
			</div>
			<div class="col s3">
				<a href="" class="about-links"><h1 class="z-depth-2" style="color:white;font-size: 65%;text-align: center;margin-top: 20%;"><img class="circle" src="img/catGif.gif" style="position: relative; width: 75%;">MENELIK <br> TEFARA <i class="material-icons">account_circle</i></h1></a>
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			
		</script>