<nav>
            <div clars="nav-wrapper">
                <a href="home.html" class="brand-logo"><i class="material-icons">lightbulb_outline</i>SpeakUp</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="chat-links" href="home.html">home</a></li>
                    <li><a class="chat-links" href="">contact</a></li>
                    <li><a class="chat-links" href="about.html">about us</a></li>
                    <li><a class="chat-links" href="">login</a></li>
                </ul>
            </div>
        </nav>
        <img id="catBackground" src="img/city.jpeg" alt="city">
        <div class="container ">
            <div class="row grayscale">
                <div class="header col-m8 ">
                    <br>
                    <a class="start waves-effect waves-light btn modal-trigger" href="">Start</a><br>a Conversation<br><br>
                    <a class="join waves-effect waves-light btn modal-trigger" href="">Join</a><br>a Conversation
                </div>
                
                <div class="z-depth-3 chatbox">
                    
                        
                        
                        <!-- CHAT ROOM FEATURE IS HERE-->
                        <!-- MESSAGES ARE DISPLAYED HERE -->
                        <!-- <ul id="messages"></ul> -->
                        <!-- FORM IS WHERE YOU INPUT TEXT -->
                        
                    
                </div>
                
                <div class="container">
                <div class="input-field col s12">
                <input type="text" placeholder="Text" class="textbox"></input>
                <label for="Text"></label>
                </div>
                </div>
                <!-- <form action=""> -->
                    <button class="waves-effect waves-light teal btn send" type="submit" name="action" input id="m" autocomplete="off" />Send</button>
                <!-- </form> -->
            </div>
            
            <!-- Modal Trigger -->
            <div class="fixed-action-btn">
                <a class="btn-floating waves-effect waves-light btn modal-trigger red" href="#modal2"><i class="material-icons">menu</i></a></div>
                <!-- Modal Structure -->
                <div id="modal2" class="modal bottom-sheet">
                    <div class="modal-content">
                        <ul id="tabs-swipe-demo" class="tabs">
                            <li class="tab col s3"><a href="#test-swipe-1">Chat Rooms</a></li>
                            <li class="tab col s3"><a class="active" href="#test-swipe-2">Friend Lists</a></li>
                            
                        </ul>
                        <div id="test-swipe-1" class="col s12 text-align center"><ul>
                            
                            <li><a href="#!">Cats</a></li>
                            <li><a href="#!">Baseball</a></li>
                            <li><a href="#!">Movies</a></li>
                            <li><a href="#!">Home Improvement</a></li>
                            <li><a href="#!">Board Games</a></li>
                            <li><a href="#!">Cats</a></li>
                            <li><a href="#!">Baseball</a></li>
                            <li><a href="#!">Movies</a></li>
                            <li><a href="#!">Home Improvement</a></li>
                            <li><a href="#!">Board Games</a></li>
                        </ul></div>
                        <div id="test-swipe-2" class="col s12 text-align center">
                            
                            <ul>
                                <li><a href="#!">ARRRnold</a></li>
                                <li><a href="#!">Han Solo</a></li>
                                <li><a href="#!">The Donald</a></li>
                                <li><a href="#!">Batman</a></li>
                                <li><a href="#!">Steve the Pirate</a></li>
                            </ul></div>
                            
                            
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                    </div>
                    <!--     <div class="textbox">
                        <p> Enter some text to start a conversation!</p>
                    </div>
                    <div class="chatrooms">
                        <p>Chat Rooms</p>
                        <ul>
                            <li><a href="#!">Cats</a></li>
                            <li><a href="#!">Baseball</a></li>
                            <li><a href="#!">Movies</a></li>
                            <li><a href="#!">Home Improvement</a></li>
                            <li><a href="#!">Board Games</a></li>
                        </ul>
                    </div> -->
                    <!--          <div class="friendslist">
                        <p>Friends List</p>
                        <ul>
                            <li><a href="#!">ARRRnold</a></li>
                            <li><a href="#!">Han Solo</a></li>
                            <li><a href="#!">The Donald</a></li>
                            <li><a href="#!">Batman</a></li>
                            <li><a href="#!">Steve the Pirate</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>